[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gcapc"]
	path = gcapc
	url = https://github.com/tengmx/gcapc
[submodule "rnaseqcomp"]
	path = rnaseqcomp
	url = https://github.com/tengmx/rnaseqcomp
