[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rnaseqcomp"]
	path = rnaseqcomp
	url = https://github.com/tengmx/rnaseqcomp
	shallow = true
	registered = true
[submodule "gcapc"]
	path = gcapc
	url = https://github.com/tengmx/gcapc
	shallow = true
	registered = true
